@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
:root {
    --background-color: #b1b1b1;
}

* {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.btn{

  cursor: pointer;
}

.calculatorBody {
    width: 20%;
    height: 36em;
    padding: 1em;
    background-color: var(--background-color);
    margin: 5em auto;
    box-shadow: 18px 18px 12px #000;
    border-radius: 15px;
}

.calculatorBody .screenCalculator {
    background-color: var(--background-color);
}

.calculatorBody .screenCalculator .screenNumbers {
    width: 97%;
    height: 2em;
    padding: 0 10px 0 0;
    border-color: #000;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    font-size: 46px;
    border-radius: 15px;
}

.calculatorBody .groupsOfButtons {
    margin-top: 2.5rem;
}

.calculatorBody .groupsOfButtons .groupRow {
    display: flex;
    gap: .8em;
    padding: .5rem 0;
    height: 4.5em;
    background-color: var(--background-color);
}

.calculatorBody .groupsOfButtons .groupRow .btn {
    width: 100%;
    height: auto;
    background-color: #222444;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    font-size: 35px;
    color: #FFF;
    font-weight: 600;
    box-shadow: 4px 4px 2px #111222;
}

.calculatorBody .groupsOfButtons .groupRow .btn:active {
    background-color: #0001AF;
}

.calculatorBody .groupsOfButtons .groupRow .btn.active {
    background-color: #0001AF;
}